CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DELIVERY_TOKEN=
CONTENTFUL_PREVIEW_TOKEN=
CONTENTFUL_PREVIEW_SECRET=
CONTENTFUL_MANAGEMENT_TOKEN=
PUBLIC_SITE_URL=https://publication-site.pages.dev
PUBLICATION_ENV=development
PUBLICATION_USE_FIXTURES=true
